<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Book</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit Transaction</h1>
		<form th:object="${crypto}" th:action="@{../add}" action="#" method="post">
			<input type="hidden" th:field="*{id}" class="form-control"/>
		
			<label for="name">Name</label>
			<input type="text" th:field="*{name}" />
		
			<label for="code">Code</label>
			<input type="text" th:field="*{code}" />
		
			<label for="boughtPrice">Bought Price</label>
			<input type="number" step= "0.001" id="price" th:field = "*{boughtPrice}"/>
		
			<label for="quantity">Quantity</label>
			<input type="number" step= "0.001" id="quantity" th:field = "*{quantity}"/>
			
			<label for="dateBought">Date Bought</label>
			<input type="text" id="dateBought" th:field = "*{dateBought}"/>
			
		
		
		<input type="submit" value="Save"></input></form>
</body>
</html>